@model WhyContactUsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="HtmlHead" model=@Model.HtmlHead />
</head>
<body>
    <partial name="Breadcrumb" model=@Model.Breadcrumb />

    <form asp-route="/pages/why-do-you-want-to-contact-us" method="post">

        <partial name="WhyContactUsForm" model="@Model.WhyContactUsBodyViewModel" />

    </form>

    <div>
        <a asp-controller="Pages" asp-action="Index">Back to List</a>
    </div>
</body>
</html>