@model WhyContactUsViewModel

@{
    Layout = "_LocalLayout";

    if (!string.IsNullOrWhiteSpace(Model.HtmlHead?.Title))
    {
        ViewData["Title"] = Model.HtmlHead.Title;
    }
}

<partial name="Breadcrumb" model=@Model.Breadcrumb />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form asp-route="/pages/why-do-you-want-to-contact-us" method="post" class="compui-validation">

            <partial name="WhyContactUsForm" model="@Model.WhyContactUsBodyViewModel" />

        </form>
    </div>
</div>
