@model EnterYourDetailsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="HtmlHead" model=@Model.HtmlHead />
</head>
<body>
    <partial name="Breadcrumb" model=@Model.Breadcrumb />

    <form asp-route="/pages/enter-your-details" method="post">

        <partial name="EnterYourDetailsForm" model="@Model.EnterYourDetailsBodyViewModel" />

        <div>
            <a asp-controller="Pages" asp-action="Index">Back to List</a>
        </div>

    </form>
</body>
</html>