iframe.DfcAppContactUs-Webchat {
    border-width: 0px;
    height: 100%;
    width: 100%;
}

.DfcAppContactUs-Hide{
    display:none;
}

span.DfcAppContactUs-IsProdWarning {
    background-color: #ffffff;
    color: #ff0000;
}

span.DfcAppContactUs-IsProdHightlight {
    text-decoration: underline;
    color: #ff0000;
}