@model HowCanWeHelpViewModel

@{
    Layout = "_LocalLayout";

    if (!string.IsNullOrWhiteSpace(Model.HtmlHead?.Title))
    {
        ViewData["Title"] = Model.HtmlHead.Title;
    }
}

<partial name="Breadcrumb" model=@Model.Breadcrumb />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form asp-route="/pages/how-can-we-help" method="post" class="compui-validation">

            <partial name="HowCanWeHelpForm" model="@Model.HowCanWeHelpBodyViewModel" />

        </form>
    </div>
</div>
