@model ChatViewBodyModel

@if (Model.ShowWebchatIframe)
{
    <noscript>
        <div>
            <h1>Sorry, Javascript is not enabled</h1>
            <p>To access the webchat, please enable Javascript on your browser.</p>
            <p>If you cannot enable Javascript, you can call @Model.PhoneNumber to speak to an adviser.</p>
        </div>
    </noscript>

    <div class="dfc-app-contact-us-IframeContainer" data-chaturl="@Model.ChatUrl"></div>
}
else
{
    <div>
        <H3>Webchat Service Unavailable</H3>
        <p>Please call @Model.PhoneNumber to speak to an adviser.</p>
    </div>
}
