@model ChatViewBodyModel

<noscript>
    <div>
        <p>You currently have JavaScript disabled. To use this service you are required to enable JavaScript in your browser.</p>
        <p>Alternatively, please call @Model.PhoneNumber to speak to an adviser.</p>
    </div>
</noscript>

@if (Model.ShowWebchatIframe)
{
    <div class="dfc-app-contact-us-IframeContainer" data-chaturl="@Model.ChatUrl"></div>
}
else
{
    <div>
        <H3>Webchat Service Unavailable</H3>
        <p>Please call @Model.PhoneNumber to speak to an adviser.</p>
    </div>
}
