@model ChatViewModel

@{
    Layout = "_LocalLayout";

    if (!string.IsNullOrWhiteSpace(Model.Head?.Title))
    {
        ViewData["Title"] = Model.Head.Title;
    }
}

<partial name="Breadcrumb" model=@Model.Breadcrumb />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="ChatBody" model="@Model.ChatViewBodyModel" />
    </div>
</div>
