@model ChatViewBodyModel

<div class="dfc-app-contact-us-IframeContainer">
    <iframe id="webchatframe" src="@Model.ChatUrl" title="webchat" scrolling="no" class="dfc-app-contact-us-Webchat"></iframe>
</div>
