@model HomeViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="HtmlHead" model=@Model.HtmlHead />
</head>
<body>
    <partial name="Breadcrumb" model=@Model.Breadcrumb />


    <form asp-route="/pages/home" method="post">

        <partial name="HomeForm" model="@Model.HomeBodyViewModel" />

    </form>

    <div>
        <a asp-controller="Pages" asp-action="Index">Back to List</a>
    </div>
</body>
</html>