@model BodyViewModel


<<<<<<< HEAD
@if (Model.Content != null)
{
    <div class="govuk-width-container">
        @Html.Raw(Model.Content)
=======
@if (Model.Body != null)
{
    <div class="govuk-width-container">
        @Html.Raw(Model.Body)
>>>>>>> story/DFCC-1169-refresh-nugets
    </div>
}
