@model ChatViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="HtmlHead" model=@Model.HtmlHead />
</head>
<body>
    <partial name="Breadcrumb" model=@Model.Breadcrumb />

    <partial name="ChatBody" />

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>