@model ConfigurationSetBodyViewModel


<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.LinesOpenText)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.LinesOpenText)
        </dd>
    </div>
</dl>
